@mixin Corporations {
  .corporation {
    $this: &;
    position: relative;

    background-color: #e9ddd7;
    padding: 3rem 1rem 2rem;

    @include md {
      padding: 3rem 2rem 2rem;
    }

    @include lg {
      padding: 7rem;
    }

    &__title {
      max-width: 85rem;
      font-size: clamp(1.6rem, 2.5vw, 3rem);
      margin: 0 auto;
      color: #e50051;
      font-family: "bold";
    }

    &__list {
      display: flex;
      list-style: none;
      flex-wrap: wrap;
      padding: 0;

      @include lg {
        max-width: 85rem;
        margin: 5rem auto;
      }
    }

    &__item {
      margin-right: 0.3rem;
      margin-bottom: 0.5rem;
      font-size: clamp(1rem, 2.5vw, 2rem);
      font-family: "body";
      color: #e50051;
    }
  }
}
@include Corporations;
