@mixin Footer {
  .footer {
    $this: &;
    position: relative;
    padding: 2rem;
    background-color: #e50051;
    display: flex;

    justify-content: space-between;

    @include lg {
      align-items: flex-end;
    }

    &__title {
      margin: 0;
      font-family: "body";
      color: white;
      padding: 0.2rem;
    }
  }
}
@include Footer;
