@mixin Hero {
  .hero {
    $this: &;
    position: relative;
    margin: 4rem auto;

    @include lg {
      margin: 5rem auto;
    }

    &__figure {
      height: auto;
      max-width: 100%;
      margin: 0;
    }

    &__image {
      position: relative;
      left: 50%;
      right: 50%;
      margin-left: -50vw;
      margin-right: -50vw;
      max-width: 100vw;
      width: 100vw;
    }

    &__imageTitle {
      position: absolute;
      left: 50%;
      top: 3rem;
      transform: translate(-50%);
      text-transform: uppercase;
      color: white;
      font-size: clamp(2rem, 6vw, 8rem);
      font-family: "bold";
      text-align: center;

      @include sm {
        top: 2rem;
      }

      @include lg {
        top: 5rem;
      }
    }

    &__title {
      color: #e50051;
      font-size: clamp(3rem, 6vw, 8rem);
      text-transform: uppercase;
      text-align: center;
      line-height: 0.9;
      font-family: "bold";
      max-width: 44rem;
      margin: 0 auto;

      @include xl {
        max-width: 57rem;
      }
    }

    &__list {
      text-align: center;
      color: #e50051;
      padding-left: 0;
      font-size: clamp(1.7rem, 2.5vw, 3rem);
      font-family: "bold";
      text-transform: uppercase;
    }

    &__content {
      color: #e50051;
      font-weight: 200;
      text-align: center;
      max-width: 65rem;
      margin: 0 auto;
      line-height: 1.4;
      font-size: clamp(1.3rem, 1.5vw, 2rem);
      font-family: "body";
    }

    &__btn {
      height: 3rem;
      width: 3rem;
      border: none;
      background-color: #e50051;
      border-radius: 50%;
      position: absolute;
      right: 50%;
      transform: translate(50%);
      transition: all ease-in-out 0.2s;
      margin-top: 1rem;

      @include lg {
        margin-top: 3rem;
      }

      &--contact {
        position: absolute;
        top: 0;
        right: 3rem;
        height: 3rem;
        width: 3rem;

        @include lg {
          top: -1rem;
          right: 6rem;
          height: 3.5rem;
          width: 3.5rem;

          svg {
            width: 2rem !important;
          }
        }
      }

      &:hover {
        background-color: #d6d5d54d;

        svg {
          color: #e50051;
        }
      }

      svg {
        width: 1.4rem;
        color: white;
      }
    }
  }
}
@include Hero;
