html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
    Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  scroll-behavior: smooth;
}

a {
  color: inherit;
}

* {
  box-sizing: border-box;
}

.wrapper {
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 1rem;
}
