@mixin Slider {
  .slider {
    $this: &;
    position: relative;
    background-color: #efebeb4f;
    padding: 3rem 0;

    @include lg {
      padding: 7rem 0;
    }

    &__title {
      font-size: clamp(2rem, 3vw, 3rem);
      color: #e50051;
      text-transform: uppercase;
      max-width: 25rem;
      margin: 0 auto;
      font-family: "bold";
      padding: 0 2rem;

      @include lg {
        max-width: 27rem;
      }

      @include xl {
        max-width: 32rem;
      }
    }
  }

  //   slider overrides

  .carousel-container {
    padding: 5rem 0;
  }

  .react-multi-carousel-item {
    display: flex;
    justify-content: center;
  }
  .react-multiple-carousel__arrow {
    background-color: white !important;
    box-shadow: 0px 0px 69px -24px rgba(0, 0, 0, 0.75) !important;

    @include lg {
      transform: scale(1.4);
    }

    &:before {
      color: #e50051 !important;
    }
  }

  .react-multi-carousel-dot button {
    border: none !important;
  }

  .react-multi-carousel-dot--active button {
    background: #e50051 !important;
  }

  .iframe__container div {
    width: 100vw !important;

    @include lg {
      width: 68rem !important;
      height: 40rem !important;
    }
  }
}
@include Slider;
