@mixin Values {
  .values {
    $this: &;

    @include sm {
      grid-template-columns: 1fr;
      display: grid;
    }

    @include lg {
      grid-template-columns: repeat(3, 1fr);
      margin-top: 10rem;
    }

    &__card {
      background-color: #e50051;
      padding: 2rem;
      color: white;

      &:nth-child(even) {
        background-color: #d6d5d54d;
        color: #e50051;
      }

      @include lg {
        padding: 2rem 3.5rem;
      }
    }

    &__title {
      font-size: clamp(2rem, 2.5vw, 3.5rem);
      text-transform: uppercase;
      font-family: "bold";
    }

    &__content {
      line-height: 1.4;
      font-size: clamp(1.3rem, 1.5vw, 2rem);
      font-family: "body";
    }
  }
}
@include Values;
